# Ignore python cache
__pycache__/

# Ignore pytest cache
.pytest_cache/

# Ignore venv
venv/

# Ignore coverage report
*.coverage

# Ignore pycharm folder
.idea/

# Ignore build
build/
dist/
preflightpy.egg-info/

# Ignore repl.it
.replit
